:root {
    --code-background: #34495e;
    --code-text: #ecf0f1;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

td{
    width: 33%;
    border: 1px solid rgb(230, 230, 230);
    display: inline-block;
    height: 400px;
    /* min-height: 400px;
    max-height: 100%; */
    padding: 10px;
    font-size: 1.2rem;
}

th {
    width: 33%;
    display: inline-block;
    padding: 5px 0;
    font-size: 1.2rem;
}

#container-table {
    width: 1000px;
    margin: 0 auto;
}

.code-example {
    background-color: var(--code-background);
    color: var(--code-text);
    padding-left: 40px;
}

.site-example {
    background-color: orange;
}