body {
    /* background-color: red; */
    overflow-y: hidden;
}

html {
    font-size: 20px;
}

#container {
    width: 80%;
    margin: 0 auto;
}

/* #form-full-example */

#form-full-example > table{
    margin: 0 auto;
    width: 500px;
    height: 500px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;

}

#form-full-example td {
    padding-top: 10px;
}

#form-full-example input[type="text"] {
    color: red;
}

#form-full-example input[type="submit"] {
    padding: 10px 20px;
}

#form-full-example textarea {
    columns: 50;
}