body {
    padding: 30px 0;
}



.examples {
    width: 1000px;
    margin: 30px auto;
    padding: 10px 0;
    background-color: white;
    border-radius: 10px;
}

.examples p {
    margin: 20px auto;
}

.examples h2 {
    text-align: center;
}

.example-button {
    border: 1px solid black;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0 ;
    cursor: pointer;
    background-color:rgb(86, 133, 204);
    color: #ecf0f1;
}

/* Example 1 */
.example-1-background:hover {
    background-color: pink;
}

.example-1-color:hover {
    color: rgb(43, 255, 0);
}

.example-1-size {
    width: 100px;
    font-size: 1rem;
}

.example-1-size:hover {
    width: 100%;
    font-size: 2rem;
}

/* Example 2 */

.example-2-background:active {
    background-color: pink;
}

.example-2-color:active {
    color: rgb(43, 255, 0);
}

.example-2-size {
    width: 100px;
    font-size: 1rem;
}

.example-2-size:active {
    width: 100%;
    font-size: 2rem;
}
