#yoyo-animation {
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    height: 200px;
    background-color: orange;
    position: relative;
    cursor: pointer;
}


.border {
    border: 1px solid black;
}

#yoyo {
    position: relative;
    width: 150px;
    height: 150px;
    background-image: radial-gradient(white 40%, red 45%, white 85%, red 95%);
    color: goldenrod;
    border-radius: 50%;
    margin-top: 22px;
    margin-left: 20px;
    transform: rotate();
    transition: margin-left .7s ease-in;
    text-align: center;
    padding-top: 60px;
    font-size: 1.6rem;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    box-shadow: 3px 3px 5px rgba(0,0,0,.5);
    transform: rotate(15deg);
}

#yoyo-string {
    height: 10px;
    position: absolute;
    width: 10px;
    bottom: 45%;
    left: 70px;
    /* padding-right: 0; */
    transition: width .7s ease-in;
    background-image: repeating-linear-gradient(45deg, #ada799, #ebf8e1 15%, #f69d3c 20%);
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0,0,0,.5);
    
}

#click-me, #release {
    position: absolute;
    top: 38%;
    left: 50%;
    font-size: 3rem;
    font-weight: bold;
    transition: color .7s ease-in, opacity .7s ease-in;
}

#release {
    opacity: 0;
    color: rgba(255,255,255, .5);
}

#click-me {
    opacity: 1;
}

#yoyo-animation:active #yoyo-string {
    width: 650px;
    /* padding-right: 600px; */
}



#yoyo-animation:active #click-me {
    color: rgba(255,255,255, .5);
    opacity: 0;
}

#yoyo-animation:active #release {
    color: black;
    opacity: 1;
}

@keyframes rotation {
    from{transform: rotate(15deg);}
    to{transform: rotate(374deg);}
}

#yoyo-animation:active #yoyo {
    margin-left: 80%;
    animation: rotation 1s infinite linear;
}